.dropdown{
    width:400px;
}
.dropdown-content{
    overflow-x:hidden;
    overflow-y: auto;
    display: block;
    
}

.dropdown-content ul{
    list-style: none;
}

.dropdown-content ul li{
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}

.over-item{
   color: #f3f3a3;
}

#myInput{
    width: 98%;
}
#myInput:focus {outline: 3px solid #ddd;}
